@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  color: #1d1d1f;
  background: #efe9e6 url(../img/bg.png) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 1s ease-out;
}

#loading-logo {
  max-width: 250px;
  height: auto;
  /* animation: pulse 1s infinite; */
}

#content {
  display: none;
  opacity: 0;
  transition: opacity 2s ease-in;
  transition: 500ms;
}

/* @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  } */

.fs32 {
  font-size: 32px;
}
.fs16 {
  font-size: 18px;
}
.fs16 {
  font-size: 16px;
}
.fs16 {
  font-size: 12px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.lgn-box {
  width: 360px;
  min-height: 400px;
  border-radius: 8px;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.c-logo {
  width: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.c-logo.header {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.form-control2 {
  width: 100%;
  color: #473f39;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #473f39;
  margin-bottom: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
}
.form-control2:focus,
.form-control2:hover,
.form-control2:active {
  outline: none;
  text-decoration: none;
}
.clgn-btn {
  width: 100%;
  border-radius: 5px;
  background-color: #473f39;
  font-weight: 400;
  border: none;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-top: 15px;
  transition: 500ms;
  text-transform: uppercase;
}
.clgn-btn:hover {
  color: #efe9e6;
  background-color: #1d1a17;
}
.btn-submit {
  width: 100px;
  border-radius: 4px;
  background-color: #473f39;
  font-weight: 400;
  border: none;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 15px;
  transition: 500ms;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.btn-submit:hover {
  color: #efe9e6;
  background-color: #1d1a17;
}
header {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logout-link {
  text-decoration: none;
  background: #efe9e6;
  border: 1px solid #473f39;
  margin-left: auto;
  width: 90px;
  padding-top: 5px;
  padding-bottom: 7px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  color: #473f39;
}
.logout-link:hover {
  background: #473f39;
  color: #efe9e6;
}
.vbox {
  max-width: 60vw;
  margin: 0vh auto 0px auto;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.ratio {
  margin-top: 15px;
}
.form-control.query {
  height: 40px;
}
.table-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 15px;
}
.showError {
  padding: 4px 1rem;
  color: #930000;
  border: 1px solid red;
  background-color: rgb(255 0 0 / 12%);
}
